<div role="main">


    <div>
        <div *ngIf="this.adminService.isAccountUpdated" class="jumbotron">
          <h3>{{this.accountUpdated}}</h3>
        </div>
        <div *ngIf="!this.adminService.isAccountUpdated">
            <div>
              <div class="jumbotron d-md-table-row align-center">
                <label for="search" class="d-md-table-cell md-col-3">Enter UserID</label>
                <input type="text"  class="form-control d-md-table-cell" placeholder="Search.." name="search" [(ngModel)]="searchId" id="search">
                <span class="d-md-table-cell"><button type="submit" (click)="onSearchClick()" class="btn-sm btn-outline-danger">Search</button></span>

              </div>

              <!-- <div *ngIf="this.displayForm"> -->
                  <form  [formGroup]="updateAccountForm" (ngSubmit)="onSubmit(updateAccountForm)" class="m-auto">

                    <div class="form-group d-md-table-row">
                        <label for="accountId" class="d-md-table-cell md-col-3">Account ID</label>
                        <input type="text" disabled class="form-control d-md-table-cell" id="name" formControlName="accountId">
                    </div>

                    <div class="form-group d-md-table-row">
                        <label for="city" class="d-md-table-cell md-col-3">Amount</label>
                        <input type="number" class="form-control d-md-table-cell" id="City" formControlName="transAmt" placeholder="">
                    </div>

                    <div class="form-group d-md-table-row">
                      <label for="transtype" class="d-md-table-cell md-col-3">Transaction Type</label>
                      <select class="form-control d-md-table-cell" formControlName="transtype" id="transtype">
                        <option value="WITHDRAWAL">WITHDRAWAL</option>
                        <option selected value="DEPOSIT">DEPOSIT</option>
                      </select>
                    </div>

                    <div class="form-group d-md-table-row">
                        <label for="remarks" class="d-md-table-cell md-col-3">Remarks</label>
                        <input type="text" class="form-control d-md-table-cell" id="remarks" formControlName="remarks" placeholder="">
                    </div>

                    <div class="form-group d-md-table-row">
                        <label for="chequeNumber" class="d-md-table-cell md-col-3">chequeNumber</label>
                        <input type="number" class="form-control d-md-table-cell" id="chequeNumber" formControlName="chequeNumber"  placeholder="">
                    </div>

                    <button type="submit" class="btn-sm btn-outline-success center">Update Account</button>
                  </form>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>
