
  <nav class="navbar btn-group-justified">
    <button type="button" class="btn-sm btn-outline-success"
        (click)="onHomeClick()">Home</button>

    <button type="button" class="btn-sm btn-outline-secondary"
        (click)="onFundTransferClick()">Fund Transfer</button>

    <button type="button" class="btn-sm btn-outline-success"
        (click)="onMiniStatementClick()">Mini Statement</button>

    <button type="button" class="btn-sm btn-outline-secondary"
        (click)="onDetailStatementClick()">Detailed Statement</button>

    <button type="button" class="btn-sm btn-outline-success"
        (click)="onUpdateDetailsClick()">Update Details</button>

    <button type="button" class="btn-sm btn-outline-danger"
        (click)="onLogoutClick()">Logout</button>
  </nav>
