<nav class="navbar btn-group-justified" id="main">


  <button type="button" class="btn-sm btn-outline-success" (click)="onCreateUserClick()">Create Customer</button>
  <button type="button" class="btn-sm btn-outline-secondary" (click)="onCreateAccountClick()">Create Account</button>
  <button type="button" class="btn-sm btn-outline-success" (click)="onUpdateAccountClick()">Update Account</button>
  <button type="button" class="btn-sm btn-outline-secondary" (click)="onLogoutClick()">Logout</button>

</nav>
